altgraph==0.17.2
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.4
colorama==0.4.4
Cython==0.29.27
docopt==0.6.2
docutils==0.18.1
et-xmlfile==1.1.0
filechooser==0.1.9
Flask==2.0.3
Flask-Cors==3.0.10
future==0.18.2
h5py==3.6.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.0
Kivy==2.1.0
kivy-deps.angle==0.3.2; sys_platform == 'win32'
kivy-deps.glew==0.3.1; sys_platform == 'win32'
kivy-deps.gstreamer==0.3.3; sys_platform == 'win32'
kivy-deps.sdl2==0.4.5; sys_platform == 'win32'
Kivy-examples==2.0.0
Kivy-Garden==0.1.4
kivy-garden.filebrowser==1.1.2
kivymd==0.104.2
MarkupSafe==2.1.1
numexpr==2.8.1
numpy==1.22.2
openpyxl==3.0.9
packaging==21.3
pandas==1.4.0
pefile==2021.9.3
Pillow==9.0.1
pipreqs==0.4.11
plyer==2.0.0
Pygments==2.11.2
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
pyparsing==3.0.7
pypiwin32==223; sys_platform == 'win32'
python-dateutil==2.8.2
pytz==2021.3
pywin32==303; sys_platform == 'win32'
pywin32-ctypes==0.2.0; sys_platform == 'win32'
requests==2.27.1
six==1.16.0
tables==3.7.0
tabloo==0.0.15
urllib3==1.26.8
Werkzeug==2.0.3
xlrd==2.0.1
yarg==0.1.9
